<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btb.groupsservice.persistence.mapper.CanalMapper">

    <resultMap id="resultMap" type="com.btb.groupsservice.entity.Canal">

        <id property="id" column="ID" javaType="Long" jdbcType="BIGINT" />

        <result property="title" column="TITLE" javaType="String" jdbcType="VARCHAR" />

        <result property="name" column="NAME" javaType="String" jdbcType="VARCHAR" />

        <result property="userCreatedId" column="USER_CREATED_ID" javaType="Long" jdbcType="BIGINT" />

        <result property="description" column="DESCRIPTION" javaType="String" jdbcType="VARCHAR" />

        <result property="organizationId" column="ORGANIZATION_ID" javaType="Long" jdbcType="BIGINT" />

        <result property="createdAt" column="CREATED_AT" javaType="Date" jdbcType="TIMESTAMP" />

        <result property="modifiedAt" column="MODIFIED_AT" javaType="Date" jdbcType="TIMESTAMP" />

        <result property="isDeleted" column="IS_DELETED" javaType="boolean" jdbcType="BOOLEAN" />

        <result property="deletedAt" column="DELETED_AT" javaType="Date" jdbcType="TIMESTAMP" />

        <association property="group" column="GROUP_ID" javaType="com.btb.groupsservice.entity.Group"
                     fetchType="lazy" select="com.btb.groupsservice.persistence.mapper.GroupMapper.findById"/>

    </resultMap>

    <sql id="selectColumnNamesClause">
        RES.ID,
        RES.TITLE,
        RES.NAME,
        RES.USER_CREATED_ID,
        RES.DESCRIPTION,
        RES.GROUP_ID,
        RES.ORGANIZATION_ID,
        RES.CREATED_AT,
        RES.MODIFIED_AT,
        RES.IS_DELETED,
        RES.DELETED_AT
    </sql>

    <sql id="whereFilteredClause">
        <if test="id != null">
            AND RES.ID=#{id}
        </if>
        <if test="title != null">
            AND RES.TITLE=#{title}
        </if>
        <if test="name != null">
            AND RES.NAME=#{name}
        </if>
        <if test="userCreatedId != null">
            AND RES.USER_CREATED_ID=#{userCreatedId}
        </if>
        <if test="description != null">
            AND RES.DESCRIPTION=#{description}
        </if>
        <if test="group != null and group.id != null">
            AND RES.GROUP_ID=#{group.id}
        </if>
        <if test="organizationId != null">
            AND RES.ORGANIZATION_ID=#{organizationId}
        </if>
        <if test="createdAt != null">
            AND RES.CREATED_AT=#{createdAt}
        </if>
        <if test="modifiedAt != null">
            AND RES.MODIFIED_AT=#{modifiedAt}
        </if>
        <if test="isDeleted != null">
            AND RES.IS_DELETED=#{isDeleted}
        </if>
        <if test="deletedAt != null">
            AND RES.DELETED_AT=#{deletedAt}
        </if>
    </sql>

    <sql id="insertColumnNamesClause">
        TITLE,
        NAME,
        USER_CREATED_ID,
        DESCRIPTION,
        GROUP_ID,
        ORGANIZATION_ID,
        CREATED_AT,
        MODIFIED_AT,
        IS_DELETED,
        DELETED_AT
    </sql>

    <sql id="insertValuesClause">
        #{title},
        #{name},
        #{userCreatedId},
        #{description},
        #{group.id},
        #{organizationId},
        #{createdAt},
        #{modifiedAt},
        #{isDeleted},
        #{deletedAt}
    </sql>

    <sql id="updateSetClause">
        TITLE=#{title},
        NAME=#{name},
        USER_CREATED_ID=#{userCreatedId},
        DESCRIPTION=#{description},
        GROUP_ID=#{group.id},
        ORGANIZATION_ID=#{organizationId},
        CREATED_AT=#{createdAt},
        MODIFIED_AT=#{modifiedAt},
        IS_DELETED=#{isDeleted},
        DELETED_AT=#{deletedAt}
    </sql>

    <select id="findById" resultMap="resultMap" parameterType="Long">
        select
        <include refid="selectColumnNamesClause" />
        from
        CANALS
        RES
        where
        RES.ID=#{value}
    </select>

    <select id="findAll" resultMap="resultMap">
        select
        <include refid="selectColumnNamesClause" />
        from
        CANALS
        RES
        order by
        RES.ID asc
    </select>

    <select id="findByFilter" resultMap="resultMap" parameterType="com.btb.groupsservice.entity.Canal">
        select
        <include refid="selectColumnNamesClause" />
        from
        CANALS
        RES
        where 1=1
        <include refid="whereFilteredClause" />
        order by
        RES.ID asc
    </select>

    <select id="findByGroupId" resultMap="resultMap" parameterType="Long">
        select
        <include refid="selectColumnNamesClause" />
        from
        CANALS
        RES
        where
        RES.GROUP_ID=#{value}
    </select>

    <insert id="save" parameterType="com.btb.groupsservice.entity.Canal" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
        insert into
        CANALS
        (
        <include refid="insertColumnNamesClause" />
        )
        values
        (
        <include refid="insertValuesClause" />
        )
    </insert>

    <update id="update" parameterType="com.btb.groupsservice.entity.Canal">
        update
        CANALS
        set
        <include refid="updateSetClause" />
        where
        ID=#{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from
            CANALS
        where
            ID=#{value}
    </delete>

</mapper>
