<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btb.groupsservice.persistence.mapper.GroupSettingMapper">

    <resultMap id="resultMap" type="com.btb.groupsservice.entity.GroupSetting">

        <id property="id" column="ID" javaType="Long" jdbcType="BIGINT" />

        <result property="description" column="DESCRIPTION" javaType="String" jdbcType="VARCHAR" />

        <association property="group" column="GROUP_ID" javaType="com.btb.groupsservice.entity.Group"
                     fetchType="lazy" select="com.btb.groupsservice.persistence.mapper.GroupMapper.findById"/>

        <association property="privacyLevel" column="PRIVACY_LEVEL_ID" javaType="com.btb.groupsservice.entity.PrivacyLevel"
                     fetchType="lazy" select="com.btb.groupsservice.persistence.mapper.PrivacyLevelMapper.findById"/>

    </resultMap>

    <sql id="selectColumnNamesClause">
        RES.ID,
        RES.GROUP_ID,
        RES.PRIVACY_LEVEL_ID,
        RES.DESCRIPTION
    </sql>

    <sql id="whereFilteredClause">
        <if test="id != null">
            AND RES.ID=#{id}
        </if>
        <if test="group != null and group.id != null">
            AND RES.GROUP_ID=#{group.id}
        </if>
        <if test="privacyLevel != null and privacyLevel.id != null">
            AND RES.PRIVACY_LEVEL_ID=#{privacyLevel.id}
        </if>
        <if test="description != null">
            AND RES.DESCRIPTION=#{description}
        </if>
    </sql>

    <sql id="insertColumnNamesClause">
        GROUP_ID,
        PRIVACY_LEVEL_ID,
        DESCRIPTION
    </sql>

    <sql id="insertValuesClause">
        #{group.id},
        #{privacyLevel.id},
        #{description}
    </sql>

    <sql id="updateSetClause">
        GROUP_ID=#{group.id},
        PRIVACY_LEVEL_ID=#{privacyLevel.id},
        DESCRIPTION=#{description}
    </sql>

    <select id="findById" resultMap="resultMap" parameterType="Long">
        select
        <include refid="selectColumnNamesClause" />
        from
        GROUP_SETTINGS
        RES
        where
        RES.ID=#{value}
    </select>

    <select id="findAll" resultMap="resultMap">
        select
        <include refid="selectColumnNamesClause" />
        from
        GROUP_SETTINGS
        RES
        order by
        RES.ID asc
    </select>

    <select id="findByFilter" resultMap="resultMap" parameterType="com.btb.groupsservice.entity.GroupSetting">
        select
        <include refid="selectColumnNamesClause" />
        from
        GROUP_SETTINGS
        RES
        where 1=1
        <include refid="whereFilteredClause" />
        order by
        RES.ID asc
    </select>

    <insert id="save" parameterType="com.btb.groupsservice.entity.GroupSetting" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
        insert into
        GROUP_SETTINGS
        (
        <include refid="insertColumnNamesClause" />
        )
        values
        (
        <include refid="insertValuesClause" />
        )
    </insert>

    <update id="update" parameterType="com.btb.groupsservice.entity.GroupSetting">
        update
        GROUP_SETTINGS
        set
        <include refid="updateSetClause" />
        where
        ID=#{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from
            GROUP_SETTINGS
        where
            ID=#{value}
    </delete>

</mapper>
